# JetBrains IDE files
.idea
*.iml

# Ant project files
local.properties
proguard-properties.txt
build.xml

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Xcode shit
*.xcuserstate
*.xcworkspacedata
xcuserdata
*.swp
*~.nib

# Ant build artifacts
out
obj
libs
bin
gen

